.container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  padding: 4em 6em;
  border-radius: 10px;
  margin: 2rem;
}

.text {
  font-size: 1.2rem;
  margin: 0.5em 0;
}

.intro {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2f3dd4;
}

.button {
  all: unset;
  margin-top: 1em;
  background-color: #2f3dd4;
  color: #fff;
  padding: 1em 3em;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 10px;
  width: fit-content;
}

.button:hover {
  cursor: pointer;
  background-color: #4351f1;
}
